:root {
    --color-1:#002c68
    --color-2:#003988
    --color-3:#004aaf
    --color-4:#005fe1
    --color-5:#0068f7
    --color-6:#3386f9
    --color-7:#549afa
    --color-8:#8abafb
    --color-9:#b0d0fd
    --color-10:#e6f0fe
}