@import url(colors.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: black;
    color: white;
}

.dashboard-container {
    display: grid;
    grid-template-columns: 200px 1fr 300px;
    height: 100vh;
    width: 100%;
    align-items: stretch;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    background-color: #0d121c;
    
       .logo-main {
        margin-bottom: 20px;
        display: flex;
        gap: 5px;

          img{
            filter: invert();
            width: 30px;
          }
       
       }

       .input-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          margin-right: 30px;
          gap: 2px;

            img {
            filter: invert();
            margin-left: 20px;
            width: 15px;
           }
        }

}

.menu-navegacao{
    margin-top: 30px;
    display: flex;
    flex-direction: column;

      .btn-menu {
        display: flex;
        padding: 8px 20px;
        background-color: transparent;
        color: white;
        border: none;
        cursor: pointer;

         span {
            transition: all 0.3s ease;

            &:hover {
                transform: scale(1.1);
                border-bottom: 1px solid #007bff;
            }

         }
             

          .icon {
            margin-right: 10px;
          }
      }

}

.rodape-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;

    .btn-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        color: white;
        background: transparent;
        border: none;
        margin-bottom: 30px;
        margin-right: 20px;

         span{
            transition: all 0.3s ease;

          &:hover {
                transform: scale(1.1);
                border-bottom: 1px solid #007bff;
            }
         }    
    }
}


.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;

    h1{
      align-self: flex-start;
      margin-left: 20px;
    }

    #tendencias{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;  
    box-sizing: border-box;
    gap: 20px;
    margin-top: 20px;
    

        .moeda{
         flex: 1;
         min-width: 200px;
         max-width: 350px;
         height: 150px;
         border-radius: 10px;
         margin: auto;
         background-color: #0d121c;
        }
    }

    #graficos {
        border-radius: 15px;
        width: 100%;
        height: 180px;
        margin-top: 20px;
        background-color: #0d121c;
    
    }

    #mercado{
        border-radius: 15px;
        width: 100%;
        height: 160px;
        margin-top: 15px;
        background-color: #0d121c;
    }
}

.sidebar-direita {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
    gap: 20px;
    height: 100%;
    padding: 25px;
    height: 100vh;
    box-sizing: border-box;

    .menu {
        display:flex;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
        margin-top: 15px;
        margin-right: 15px;
        width: 100%;

          .btn-depositar {
            background-color:#004aaf;
            border: none;
            width: 150px;
            height: 40px;
            border-radius: 8px;
            color: white;
            transition: all 0.3s ease;
            font-weight: 800;

              &:hover {
                background-color: #007bff;
                transform: scale(1.1);
              }
          }

        img{
            filter: invert();
            transition: all 0.3s ease;

            &:hover {
                transform: scale(1.2);

            }
        }
    }

    #total-balance {
        width: 100%;
        height: 170px;
        border-radius: 10px;
        background-color: #0d121c;
    }

    #atividade {
        width: 100%;
        height: 150px;
        border-radius: 10px;
        background-color: #0d121c;
    }

    #em-alta {
        width: 100%;
        height: 170px;
        border-radius: 10px;
        background-color: #0d121c;
    }
}

.icon {
    filter: invert();
}
    
