* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard-container {
    display: grid;
    grid-template-columns: 200px 1fr 300px;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 98vh;
    border: 1px solid black;
    padding: 20px;
    
       .logo-main {
        margin-bottom: 20px;
       
       }

       .campo-buscar {
        margin-bottom: 20px;
       }

       .menu-navegacao{
         margin-top: 30px;
         display: flex;
         flex-direction: column;
       }

       .rodape-sidebar {
        display: flex;
        flex-direction: column;
        margin-top: auto;
       }
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    h1{
      align-self: flex-start;
      margin-left: 20px;
    }

    .moedas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    gap: 15px;
    margin-top: 20px;
    

        .moeda{
         flex: 1;
         min-width: 200px;
         max-width: 350px;
         height: 150px;
         border: 1px solid black;
         border-radius: 10px;
         margin: auto;
        }
    }

    .growth {
        border: 1px solid black;
        border-radius: 15px;
        width: 100%;
        height: 180px;
        margin-top: 20px;
    
    }

    .mercado{
        border: 1px solid black;
        border-radius: 15px;
        width: 100%;
        height: 160px;
        margin-top: 15px;
    }
}

.sidebar-direita {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
    gap: 20px;
    height: 100%;
    padding: 25px;


    .menu {
        display:flex;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
        margin-top: 15px;
        margin-right: 15px;
        width: 100%;
    }

    .total-balance {
        border: 1px solid black;
        width: 100%;
        height: 170px;
    }

    .sua-carteira {
        border: 1px solid black;
        width: 100%;
        height: 150px;
    }

    .atividade {
        border: 1px solid black;
        width: 100%;
        height: 170px;
    }
}


    
